<section class="new-post">
  <button id="postnow">New Post</button>
</section>
<section class="user-post">
{{#each posts as |post|}}
{{> list}}
{{/each}}
</section>
<script src="./js/dash.js"></script>