<section class="new-post">
  <div class="post-div">
    <div id="post-status" class="form-error"></div>
    <form class="form post-form">
      <input type="hidden" id="postid" value="{{post.id}}"/>
      <div class="form-group">
        <label for="post-subject">Subject:</label>
        <input class="form-input" type="text" id="subject" value="{{post.subject}}"/>
      </div>
      <div class="form-group">
        <label for="post-detail">Post Info:</label>
        <textarea class="form-input"  id="detail" >{{post.detail}}</textarea>
      </div>
      <div class="form-group">
        <label for="post-img">Image URL:</label>
        <input class="form-input" type="text" id="imgurl" value="{{post.img_url}}" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="submit" type="button">Post</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="delete" type="button">Delete</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/post.js"></script>